#! /bin/bash

. adminrc-

# Create a tenant network and connect it (with a router) to the outside world
#
neutron net-create demonet
neutron subnet-create --name demonet --dns-nameserver 8.8.8.8 --gateway 200.0.0.1 demonet 200.0.0.0/24
neutron router-create demorouter
neutron router-interface-add demorouter demonet
neutron router-gateway-set demorouter provider

# Add two VMs and give one of them a floating IP address
#
openstack server create --flavor m1.nano --image cirros --nic net-id=demonet --security-group default cirros1
openstack server create --flavor m1.nano --image cirros --nic net-id=demonet --security-group default cirros2
openstack ip floating create provider
openstack ip floating add 192.168.0.102 cirros1
