#! /bin/bash

export OS_PROJECT_DOMAIN_NAME=default
export OS_USER_DOMAIN_NAME=default
export OS_PROJECT_NAME=demo
export OS_USERNAME=demo
export OS_PASSWORD={{ openstack.demo_password }}
export OS_AUTH_URL=http://controller:5000/v3
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2

neutron net-create demonet
neutron subnet-create --name demonet --dns-nameserver 8.8.8.8 --gateway 200.0.0.1 demonet 200.0.0.0/24
neutron router-create demorouter
neutron router-interface-add demorouter demonet
neutron router-gateway-set demorouter provider
openstack server create --flavor m1.nano --image cirros --nic net-id=demonet --security-group default cirros1
openstack server create --flavor m1.nano --image cirros --nic net-id=demonet --security-group default cirros2
openstack ip floating create provider
openstack ip floating add 192.168.102 cirros1
openstack ip floating add 192.168.0.102 cirros1


