[DEFAULT]
state_path=/var/lib/nova
lock_path=/var/lock/nova
libvirt_use_virtio_for_bridges=True
verbose=True
ec2_private_dns_show_ip=True
enabled_apis = osapi_compute,metadata
my_ip = {{ openstack.ip[ansible_hostname] }}
transport_url = rabbit://openstack:{{openstack.admin_password}}@controller

[api]
auth_strategy = keystone

[wsgi]
api_paste_config=/etc/nova/api-paste.ini

[api_database]
connection = mysql+pymysql://nova:{{openstack.admin_password}}@controller/nova_api


[database]
connection = mysql+pymysql://nova:{{openstack.admin_password}}@controller/nova


[keystone_authtoken]
auth_uri = http://controller:5000
auth_url = http://controller:35357
memcached_servers = controller:11211
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = nova
password = {{openstack.admin_password}}

[vnc]
vncserver_listen = $my_ip
vncserver_proxyclient_address = $my_ip


[glance]
api_servers = http://controller:9292


[oslo_concurrency]
lock_path = /var/lib/nova/tmp


[neutron]
url = http://controller:9696
auth_url = http://controller:35357
auth_type = password
project_domain_name = default
user_domain_name = default
region_name = RegionOne
project_name = service
username = neutron
password = {{ openstack.admin_password }}

service_metadata_proxy = True
metadata_proxy_shared_secret = {{ openstack.admin_password }}
